body
{
    margin:0;
    padding:0;
   
}

/* .container
{

    background-color: rgba(255, 255, 255, .4); 
    padding:25px 30px;
    margin-top: 150px;
    margin-left: 500px;
    width: 600px;
    line-height: 300%;
   
}
.container .title
{
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 25px;
   font-weight:bold;
   position: relative;
} */
.grid-container
{
   height:100%;
   display:grid;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
}
.menu
{
 grid-row:1/7;
 border-right: 3px solid rgb(255, 255, 255) ;
}
.cospage
{
    grid-row: 1/7;
    grid-column: 2/7;
 
}
.message
{
    grid-column: 2/7;
    grid-row:1/2;
}
.courses
{
    grid-row:2/7;
    grid-column: 2/7;
}
.notification
{
   position: relative;
   
    background-color: white;
    border: 3px solid rgb(243, 123, 197) ;

}
.menu,.message,.courses
{
 
    background-color: white;
    
 
}
.message h1 
{
  padding-left: 505px;
}
    
.coursecontainer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:white;
    border : 5px ridge rgb(243, 123, 197);
    width: 200px;
    height : 250px;
    margin-left: 50px;
    margin-bottom: 130px;
}
.coursemessage
{
    padding-top: 10px;
    margin-left: 50px;
}
.courses
{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
}
.Drop
{
    background-color: red;
}
.menu
{
    display: flex;
    flex-direction: column;
}
.spanlist
{
    padding-left: 15px;
}
.add
{
    background-color: rgb(32, 190, 32);
}
#close
{
    float:right;
}
#notxt 
{
    padding:50px;
    font-size: 30px;
}
.notadd
{
    float:right;
    margin-top:25px;
    padding-left:20px;
}
.spanlist{
    color:black;
    text-decoration: none;
}
.alist
{
color: black;
text-decoration: none;
font-weight: 600;
padding: 10px;
}
.ltitle
{
    margin-left: 20px;
    margin-top: 80px;
}
.cortitle
{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.coscon
{
   display: flex;
   flex-direction: column;
}
.videocon
{
    margin-top: 20px;
    margin-left: 280px;
}
.log
{
    margin-top: 280px;
    margin-left: 40px;
    text-decoration: none;
    color: rgb(23, 21, 21);
}
.logi
{
    font-size: 24px;
    cursor: pointer;
}
.sos{
    width: 10%;
    position: relative;
    float: right;
    margin-left: 80rem;
    margin-top: 5rem;
    cursor: pointer;
}